<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>resource-editer installer</Name>
    <Version>1.0.0</Version>
    <Title>resource-editer</Title>
    <Publisher>Keenon UI group</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>resource-editer</StartMenuDir>
    <TargetDir>@HomeDir@/resource-editer</TargetDir>
</Installer>
